<section>
    <span>
        Bora Comer
    </span>
    <a href="#">
        <img src="assets/images/icon-instagram.png" alt="Link para Instagram Logo">
    </a>

    <nav>
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="quemsomos.html">QUEM SOMOS</a></li>
            <li><a href="locais.html">LOCAIS</a></li>
            <li><a href="receitas.html">RECEITAS</a></li>
            <li><a href="contatos.html">CONTATO</a></li>
        </ul>
    </nav>

    <span>
        APOIO
    </span>
    <ul>
        <li>
            <a href="#">
                <img src="assets/images/PROZ-logo.png" alt="logo Proz">
            </a>
        </li>
        <li>
        <a href="#">
            <img src="assets/images/AWS-logo.png" alt="logo AWS">
        </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/images/Meta-Logo.png" alt="logo Meta">
            </a>
        </li>
    </ul>
</section>