<section class="main_footer">

    <span>
        Bora Comer
    </span>
    <a href="#" class="logo_media_social_footer">
        <img src="assets/images/icon-instagram.png" alt="Link para Instagram Logo" >
    </a>

    <nav class="nav_footer">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="quemsomos.html">QUEM SOMOS</a></li>
            <li><a href="locais.html">LOCAIS</a></li>
            <li><a href="receitas.html">RECEITAS</a></li>
            <li><a href="contatos.html">CONTATO</a></li>
        </ul>
    </nav>

    <span class="apoio_footer">
        APOIO
    </span>
    <ul class="apoio_imgs">
        <li>
            <a href="https://prozeducacao.com.br/" target="_blank">
                <img src="assets/images/PROZ-logo.png" alt="logo Proz">
            </a>
        </li>
        <li>
        <a href="https://aws.amazon.com/pt/?nc1=h_ls" target="_blank">
            <img src="assets/images/AWS-logo.png" alt="logo AWS">
        </a>
        </li>
        <li>
            <a href="https://www.meta.com/" target="_blank">
                <img src="assets/images/Meta-Logo.png" alt="logo Meta">
            </a>
        </li>
    </ul>

</section>