<div class="container">

    <a href="index.html">
        <img src="assets/images/logo_gb_claro.svg" class="logo_bora_comer" alt="Bora Comer Logo">
    </a>

    <nav>
        <li><a href="locais.html">LOCAIS</a></li>
        <li>|</li>
        <li><a href="receitas.html">RECEITAS</a></li>
        <li>
            <input type="search" name="search" id="header_imput_search" placeholder="Busca...">
            <a href="#">
                <img src="assets/images/icon_lupa.svg" class="icon_header" alt="Icone de pesquisa">
            </a>
        </li>
        <li>
            <a href="login.html">
                <img src="assets/images/icon_login.svg" class="icon_header" alt="Icone de login">
            </a>
        </li>
    </nav>

</div>