/******DEFAUT******/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}







/***********LOGIN*******/

main {
  padding: 0;
  margin: 0;
  background-color: #0D3B66;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.login-page {
  display: flex;
  align-items: center;

  justify-content: center;
  width: 360px;
  min-height: 650px;

}

.Area-login {
  background-color: #FEF9EF;
  border-style: none;
  padding: 40px;
  border-radius: 2px;
  width: 280px;
  height: 500px;
}


.login-header {
  padding-bottom: 50px;
  opacity: 0.8;
  color: #0D3B66;
}

.login-header ::after {
  background-color: #FE6D73;
  content: "";
  width: 70px;
  height: 1px;
  display: block;
  margin-left: -5px;

}

.login-content label {
  color: #0D3B66;
  font-size: 12px;
  opacity: 0.8;
}

.login-content-area {

  display: flex;
  flex-direction: column;
  padding: 10px 0;
}


.login-content-area input {
  margin-top: 10px;

  padding: 0 5px;

  background-color: transparent;

  border: none;
  border-bottom: 1px solid #0D3B66;

  outline: none;



}

.login-footer {

  display: flex;

  flex-direction: column;

}


.button_login {

  width: 100%;

  height: 40px;

  background-color: #FE6D73;

  border: none;

  color: #0D3B66;

  margin: 10px 0;

  border-radius: 30px;

}

.ls-login-forgot {
  text-align: left;

  font-size: 12px;

  opacity: 0.8;

  color: rgb(11, 10, 10);

  text-decoration: none;
  margin-top: 80px;


}





.Area-Sign-up {
  display: flex;
  align-items: center;

  height: 80vh;



}

/************CONTATOS***********/

form {

  display: flex;
  flex-direction: column;
  border: none;

}

.form_contato_div {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;

}

.form_contato_div input {
  border-radius: 10px;


}

.form_contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-bottom: 30px;



}

.button_enviar {

  width: 100%;

  height: 40px;

  background-color: #FE6D73;

  border: none;

  color: #0D3B66;

  margin: 10px 0;

  border-radius: 30px;

}

#msg {

  height: 100px;
  border-radius: 10px;
}