/************* DEFAULT *****************/

html,
body,
header {
  background: #FEF9EF;
  color: #0D3B66;
}


/*********Começo do meu********/


section {
    display:flex;
}

.fundo {
    /*background-color: #B9E9DD;*/
    border-radius: 7px;
    display:flex;
    width: 100%;
    height: 100%;
    padding: 50px;
    justify-content: center;
    margin: 75px 0 0 0;
    gap: 100px;
}

.imagem_receita {
    align-self: center;
    width:376px;
    height:275px;
}

.texto_receita, .texto_modo_preparo {
    width: 550px;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.total{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
}

.dados_receita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.lista_ingredientes {
    width: 376px;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
}

.lista_ingredientes nav {
    display: flex;
    align-items: center;
}

form {
    margin: 0 0 75px 0;
}

.fundo_form {
    /*background-color: rgb(0, 200, 255);*/
    display:flex;    
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 0 0;
}

.section_form {
    display: flex;
    justify-content:flex-start;
    padding: 0 0 0 165px;
}


.div_form {
    margin: 0 0 20px 0; 
}

.div_avalie {
    display: flex;
}

.div_stars {
    display: flex;
    margin: 0 0 20px 0;
}

.preencher_mensagem {
    border-radius: 7px;
    width: 510px;
    height: 100px; 
}

.div_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    border-radius: 50px;
    background-color: #FE6D73;
    width: 250px;
    height: 35px;
}
