body > .container {
    display: flex;
    justify-content: space-between;
}

h6 {
    font-weight: normal;
}



/********************** ASIDE **********************/


aside {
    display: flex;
    flex-direction: column;

    background-color: #17c3b2;

    width: 20%;
    min-width: 130px;
    padding: 5vh 3vh;
}

aside > *{
    text-align: center;
}

aside h3 {
    padding: 2vh;
}

input[type="search"] {
    margin: 0;
    font-size: 14px;
    color: #555;
    border-radius: 30px;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }
  
  input.busca_receita {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

aside input[type="number"] {
    width: 4rem;
}

aside form input[type="checkbox"] {
    visibility: hidden;
}

aside button[type="reset"] {
    padding: 1vh 1vw;
    margin: 4vh auto;
}

aside form label {
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px;
    
}

#filterCkb {
    margin: 4vh 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

#ckb_veg + label {
    background: url(../images/icon_vegan-off.png) no-repeat center top;
    background-size: 100%;
}

#ckb_veg:checked + label {
    background-image: url(../images/icon_vegan-on.png);
}

#ckb_glutem + label {
    background: url(../images/icon_no-gluten-off.png) no-repeat center top;
    background-size: 100%;
}

#ckb_glutem:checked + label {
    background-image: url(../images/icon_no-gluten-on.png);
}

#ckb_soja + label {
    background: url(../images/icon_no-soy-off.png) no-repeat center top;
    background-size: 100%;
}

#ckb_soja:checked + label {
    background-image: url(../images/icon_no-soy-on.png);
}

#ckb_amendoim + label {
    background: url(../images/icon_no-peanut-off.png) no-repeat center top;
    background-size: 100%;
}

#ckb_amendoim:checked + label {
    background-image: url(../images/icon_no-peanut-on.png);
}

#ckb_ovo + label {
    background: url(../images/icon_no-eggs-off.png) no-repeat center top;
    background-size: 100%;
}

#ckb_ovo:checked + label {
    background-image: url(../images/icon_no-eggs-on.png);
}

#ckb_leite + label {
    background: url(../images/icon_no-milk-off.png) no-repeat center top;
    background-size: 100%;
}

#ckb_leite:checked + label {
    background-image: url(../images/icon_no-milk-on.png);
}

#ckb_crustaceos + label {
    background: url(../images/icon_no-seafood_off.png) no-repeat center top;
    background-size: 100%;
}

#ckb_crustaceos:checked + label {
    background-image: url(../images/icon_no-seafood_on.png);
}



/********************** MAIN **********************/


main {
    width: 73%;
    padding: 5vh 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main article {
    border: 3px dashed #fe6d73;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    width: 25%;
    margin: 2vh 0;
    padding: 2%;
}

.photoReceita {
    width: 100%;
    max-height: 166px;
}

.iconAlerg {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.iconAlerg img {
    width: 30px;
}