/***************** DEFAULT *****************/

html,
body,
header {
  background: #FEF9EF;
}


/********* PARA PÁGINA DE RESTAURANTES INDICADOS *********/


section {
    display:flex;    
}

/** Restaurantes **/

.section_backgrounds{
    display:flex;
    justify-content:space-between;
}

.dois_fundos {
    /*background-color: #f71b1b;*/
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fundo {
    /*background-color: #1b8cf7;*/
    display:flex;
    width: 100%;
    height: 100%;
    padding: 0 30px 0 0;
    justify-content:space-evenly;
    margin: 75px 0 0 0;    
}

.descricao_restaurante{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 450px;
}

.descricao_restaurante h1, .descricao_restaurante p {
    display: flex;
    margin: 0 0 8px 0;
    align-items: center;
    text-align: center;
}

.img_botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes_fotos {
    display: flex;
    position:relative;
    bottom:46px;
    width: 100%;
    height: 0;
    justify-content: space-between;
}

.botoes {
    display: flex;
    width: 70px;
    height: 40px;
    border-radius: 50px;
    background-color: #a7a3a3;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border: none;
    opacity: 65%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.google_maps_restaurante {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 350px;    
}

.google_maps_img {
    border: 1px solid black;
}

.texto_descricao_restaurante {
    width: 450px;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
}

.texto_descricao_restaurante p {
    font-size: 19px;
    justify-content: center;
    text-align:center;
}

.outras_informacoes {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: space-between;    
}

.outras_informacoes h2 {
    margin: 0 0 20px 0;  
}

.outras_informacoes p, .outras_informacoes strong, .endereco p, .descricao_restaurante p {
    font-size: 17px;        
}
.descricao_restaurante p {
    margin: 0 0 15px 0;
}


.faixa_preco, .horario, .telefone, .whatsapp, .endereco {
    display: flex;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
    margin: 0 0 10px 0;
    gap: 10px;
}




/** Barra lateral à direita **/

.fundo_barra {
    background-color: #17C3B2;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 800px;
    padding: 5vh 3vh;
    margin: 0;      
}

.titulo_barra, .titulo_barra b {
    margin: 0 0 50px 0;
    font-size: 19px;
}

.link_restaurante {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.nome_restaurante {
    font-size: 17px;
}

.box_barra a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 0 50px 0;  
    cursor: pointer;  
}

.box_barra a:hover{
    font-weight:lighter;
}


/** Form avaliação das receitas **/

form {
    margin: 0 0 75px 0;
}

.section_form {
    display: flex;
    justify-content:flex-start;
    padding: 50px 0 0 200px;
}

.fundo_form {
    display:flex;    
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 0 0px;
}

.div_form {
    margin: 0 0 20px 0; 
}

.div_avalie {
    display: flex;
}

.preencher_mensagem {
    border-radius: 7px;
    width: 510px;
    height: 100px; 
}

.div_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    border-radius: 50px;
    background-color: #FE6D73;
    width: 250px;
    height: 40px;
    border: none;
}

.botao:hover {
    cursor: pointer;
}






/********* PARA AVALIAÇÃO COM ESTRELINHAS *********/

.avaliacao {
    display: flex;
}

.star-icon {
    list-style-type: none;    
    cursor: pointer;
    color: #fccc53;
    font-size: 45px;
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before {
    content: "\2606";
}