/***************** DEFAULT *****************/

html,
body,
header {
  background: #FEF9EF;
}


/********* PARA PÁGINA DE RESTAURANTES INDICADOS *********/


section {
    display:flex;    
}

/** Restaurantes **/

.section_backgrounds{
    display:flex;
    justify-content:space-between;
}

.dois_fundos {
    /*background-color: #f71b1b;*/
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fundo {
    /*background-color: #1b8cf7;*/
    display:flex;
    width: 100%;
    height: 100%;
    padding: 0 30px 0 0;
    justify-content:space-evenly;
    margin: 75px 0 0 0;    
}

.descricao_restaurante{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 450px;
}

.descricao_restaurante h1, .descricao_restaurante p {
    display: flex;
    margin: 0 0 8px 0;
    align-items: center;
    text-align: center;
}

.descricao_restaurante h1, .google_maps_restaurante h1, .outras_informacoes h2 {
    text-shadow: 0px 2px 4px #00000040;
}

.descricao_restaurante p{
    font-size: 15px;
    margin: 0 0 15px 0;
}

.imagem_restaurante {
    box-shadow: 7px 7px 11px #00000040; 
}

.img_botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}


.botoes_fotos {
    display: flex;
    position:absolute;
    bottom: 0px;
    visibility: hidden;
}

.botoes_seta {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border: none;
    opacity: 60%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.google_maps_restaurante {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 350px;    
}


.texto_descricao_restaurante {
    width: 450px;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
}

.texto_descricao_restaurante p {
    font-size: 17px;
    justify-content: center;
    text-align:center;
}

.outras_informacoes {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 280px;
    align-items:flex-start;
    justify-content: space-between;    
}

.outras_informacoes h2 {
    display: flex;
    margin: 0 0 20px 0; 
    width: 100%;
    justify-content: center; 
}

.outras_informacoes p, .outras_informacoes strong, .endereco p {
    font-size: 16px;     
}



.faixa_preco, .horario, .telefone, .endereco, .estrelinhas {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0 0 10px 0;
    gap: 10px;
    height: 35px;
}

.estrelinhas li, .estrelinhas nav {
    align-items: center;
    justify-content: center;
    font-size: 33px;
    visibility: hidden;   /* **************DEIXEI HIDDEN CASO NAO DÊ TEMPO DE FAZER**************  */
}




/** Barra lateral à direita **/

.fundo_barra {
    background-color: #17C3B2;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 850px;
    padding: 5vh 3vh;
    margin: 0;      
}

.titulo_barra, .titulo_barra b {
    margin: 0 0 50px 0;
    font-size: 19px;
    text-shadow: 0px 2px 4px #00000040;
}

.link_restaurante {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;    
}

.nome_restaurante {
    font-size: 17px;
    width: 130px;
}

.imagem_box{
    box-shadow: 4px 4px 9px #00000040;
}

.box_barra a {
    display: flex;
    flex-direction: row;
    width: 255px;
    height: 90px;
    gap: 10px;
    margin: 0 0 50px 0;  
    cursor: pointer;  
    flex-direction: row-reverse;
}

.box_barra a:hover, .indicar_restaurante a:hover{
    font-weight:bolder;
    text-shadow: 0px 1px 4px #00000040;
}

.indicar_restaurante {
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
    width: 172px;
    height: 75px;
    margin: 80px 0 0 0;
}

.indicar_restaurante a {
    display: flex;
    flex-direction: row;
    cursor: pointer;  
    flex-direction: row-reverse;
    width: 180px;
}

.indique_res {
    width: 105px;
}

.botao p:hover {
    font-weight:bolder;
    text-shadow: 0px 1px 4px #00000040;
}


/** Form avaliação das receitas **/

form {
    margin: 0 0 75px 0;
}

.section_form {
    display: flex;
    justify-content:flex-start;
    padding: 50px 0 0 200px;
}

.fundo_form {
    display:flex;    
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 0 0px;
}

.div_form {
    margin: 0 0 20px 0; 
}

.div_form label {
    display: flex;
    width: 521px;
    justify-content:space-between;
}

.div_form a {
    display: flex; 
}

.div_form u {
    width: 189px;
}

.div_avalie {
    display: flex;
}

.preencher_mensagem {
    border-radius: 7px;
    width: 510px;
    height: 100px; 
}

.div_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    border-radius: 50px;
    background-color: #FE6D73;
    width: 250px;
    height: 40px;
    border: none;
}

.botao:hover {
    cursor: pointer;
}






/********* PARA AVALIAÇÃO COM ESTRELINHAS *********/

.avaliacao {
    display: flex;
}

.star-icon {
    list-style-type: none;    
    cursor: pointer;
    color: #fccc53;
    font-size: 45px;
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before {
    content: "\2606";
}