/************* DEFAULT *****************/

html,
body,
header {
  background: #FEF9EF;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fe6d73;
  transition: all 0.4s ease-in-out; /* transição para mudar a cor do link de forma suave */
  cursor: pointer;   /* efeito muda o mouse para mãozinha */
}

li {
  list-style: none;
}

li:hover {
  scale: 1.1;
}

nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1366px;
  padding: 0px 7.1%;
}

::-webkit-input-placeholder {
  color: gray;
}

:-ms-input-placeholder {
  color: gray;
}

::placeholder {
  color: gray;
}

/*********** HEADER *****************/

header {
  height: 83px;
  width: 100%;
  position: relative;
  top: 0;
  border-bottom: 3px solid #FE6D73;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  display: flex;
  justify-content: space-between;
}

header>nav {
  gap: 20px;
  font-weight: bold;
}


#logo_bora_comer {
  height: 80px;
  width: 115px;
}

.icon_header {
  height: 30px;
  width: 30px;
}

#header_imput_search {
  transition: 0.4s;
  width: 0px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  outline: none;
  float: left;
  border: none;
}

li:hover>#header_imput_search,
#header_imput_search:focus {
  width: 240px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

/************  SLIDER SECTION **************/

.slider_section {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#sliders {   /**Definiremos as configurações do Container do slide **/	
	list-style: none;          /*Remove o bullet*/
	position: relative;	       /* Define que position:relative porque os * elementos filhos usarão absolute	 */
  width: 800px;		           /*Define a largura*/
  height:500px;             /*Define uma altura*/
  margin:0 auto;	          /*Centralizar na horizontal*/
  overflow: hidden;         /*Oculta os elementos que ultrapassarem * as dimensões definidas	*/
}

#sliders li{                                  /*Configuremos os itens do slide*/
	position: absolute;                     	/*Definimos como posição absoluta, seguindo o elemento pai*/
	top:0;	                                 	/*Define que ficará encostado no topo*/
	left:0;                                 /*Define que ficará enconstado do lado esquerdo*/	
	opacity: 0;	                            /*Coloca a opacidade zero, pra ocultar*/
	z-index: 0;	                           /*Define ordenação relacionados os elementos*/
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	transition: opacity 2s;               /*Cria uma transição da opacidade com 1 segundo*/
}

 #sliders li.slider-active{             /* Agora defiremos uma classe  * que mostrar o item atual */	
	z-index: 0;                           /*Ordena que ficará a frente dos itens*/	
	opacity: 1;                           /*Mostra o slide atual*/
}

#sliders img {
  width: 1000px;
  height: 500px;
}

/*** SECTIONS ***/

.section_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 400px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.section_main_2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.section_main_2 img {
  height: 250px;
  width: 350px;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}


/********* FOOTER  **********/

.main_footer {
  margin-top: 140px;
  height: 83px;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 0;
  
}

.logo_media_social_footer {
  position: absolute;
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.nav_footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;  
  padding: 0px 0px 0px 1050px;
}

.apoio_footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;  
  padding: 0px 0px 0px 1425px;
}

.apoio_imgs img {
  padding: 5px;
}

/********** RASCUNHO **************/
